@tailwind base;
@tailwind utilities;
@tailwind components;

/* Font Definition */
@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand.ttf');
  font-display: swap;
  font-style: bold;
  font-weight: 600;
}

/* Theme Variables */
:root {
  --background-color: #fffefc;
  --text-color: #000000;
  --scrollbar-color: transparent;
  --tooltip-background: #000000;
  --tooltip-text: #ffffff;
}

/* Dark Theme Variables */
.theme-dark {
  --background-color: #000000;
  --text-color: #ffffff;
  --scrollbar-color: transparent;
  --tooltip-background: #ffffff;
  --tooltip-text: #000000;
}

/* Global Styles */
html {
  font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont,
    Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC,
    Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Tooltip Styles */
.tooltip {
  @apply cursor-pointer relative;
}

.tooltip:before {
  @apply absolute w-max py-1 px-2 max-w-xs text-sm rounded pointer-events-none transform-gpu translate-y-3 transition opacity-0 capitalize;
  background-color: var(--tooltip-background);
  color: var(--tooltip-text);
  bottom: 120%;
  content: attr(data-tip);
}

.tooltip:hover:before {
  @apply transform-gpu translate-y-0 opacity-100;
}
